<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Tesla</title>
  </head>
  <body>
    <nav class="nav-bar">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/models">Models</a></li>
        <li><a href="/gallery">Soon...</a></li>
      </ul>
    </nav>
    <div class="container">
      <p>
        The company was incorporated as Tesla Motors, Inc. on July 1, 2003, by <br>
        Martin Eberhard and Marc Tarpenning. Eberhard and Tarpenning served <br>
        as CEO and CFO, respectively. Eberhard said he wanted to build <br> "a
        car manufacturer that is also a technology company", with its core <br>
        technologies as "the battery, the computer software, and the proprietary <br>
        motor". Ian Wright was Tesla's third employee, joining a few months <br>
        later. In February 2004, the company raised $7.5 million in series A <br>
        funding, including $6.5 million from Elon Musk, who had received $100 <br>
        million from the sale of his interest in PayPal two years earlier. <br> Musk
        became the chairman of the board of directors and the largest <br>
        shareholder of Tesla. J. B. Straubel joined Tesla in May <br>
        2004 as chief technical officer.[19] A lawsuit settlement agreed to by <br>
        Eberhard and Tesla in September 2009 allows all five – Eberhard, <br>
        Tarpenning, Wright, Musk, and Straubel – to call themselves <br>
        co-founders.
      </p>
    </div>
  </body>
</html>
