<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Models</title>
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Soon...</a></li>
        </ul>
    </nav>
    <section class="model-box">
        <article>
          <button id="model-s-btn"> Model S </button>
          <img src="images/Model-s.jpeg" id="model-s" alt="Model S">
        </article>
        <article>
          <button id="model-3-btn"> Model 3 </button>
          <img src="images/model-3.jpeg" id="model-3" alt="Model 3">
        </article>
        <article>
          <button id="model-x-btn"> Model X </button>
          <img src="images/model-x.jpeg" id="model-x" alt="Model X">
        </article>
        <article>
          <button id="model-y-btn"> Model Y </button>
          <img src="images/model-y.jpeg" id="model-y" alt="Model Y">
        </article>
      </section>
      
    <script src="js/models.js"></script>
</body>
</html>